* {
	padding: 0;
	overflow-x: hidden;
}

:root { /*#84f48a */
	--main: #73e379 ; 
	--second: #31353a;
	--third: #4f6d92;
	--alternative1: #f484ee;
	--alternative2: #6a92c3;
	--alternative3: #f4c284;
	--alternative4: #8c85f4;
}

/*#0040FF*/

@media screen and (orientation: landscape){
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header {
		border-bottom: 3px solid var(--main);
		background-color: inherit;
		overflow-y: hidden;

		width: 100%;
		min-height: 3.6rem;
		max-height: 10vh;
		position: fixed;
		top: 0px;
		z-index: 200;

		display: flex;
		/* justify-content: left; */
		align-items: center;
	}

	.header img {
		/* border: 1px solid black; */
		width: 5%;
		min-width: 60px;
		object-fit: cover;
		position: fixed;
		top: 1vh;
		/* justify-self: left; */
	}

	.header h1 {
		/* border: 1px solid var(--main); */
		height: 100%;
		color: var(--main);
		/* width: 10vw; */
		/* margin-left: 40vw;
		margin-right: 40vw; */
		margin: auto;

		font-family: opensans;
		font-size: 2rem;
	}

	.header__contenedor-boton {
		/* border: 1px solid var(--main); */
		background-color: #fff;
		display: flex;
		width: 10vw;
		height: 3.25rem;
		padding-right: 2vw;
		margin-right: 0vw;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 215;

	}

	.header__boton {
		/* border: 1px solid var(--main); */
		color: var(--main);
		width: 100%;
		height: 100%;

		font-size: 1.3rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}

	/* NAV */

	.nav {
	/*	border: 1px solid var(--main);*/
		background: inherit;
		overflow-y: hidden;
		width: 50%;
		min-height: 3.6rem;	
		max-height: 10vh;
		margin-left: 30%;
		position: fixed;
		top: 0px;
		z-index: 205;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav__options {
		border:none;
		/* border: 1px solid blue; */
		color: #666;
		box-sizing: border-box;
		width: 25%;
		height: 100%;
		padding: 2.5% 0;

		font-size: 1rem;
		font-family: opensans;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--main);
		color: var(--main);

	}
	
	.article__formulario  {
		/* border: 3px solid red; */
		width: 100%;
		height: 80vh;
		padding: 10px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		margin-top: 10vh;
	}

	#article__formulario-bajada {
		/* border: 1px solid black; */
		box-sizing: border-box;
		width: 80%;
		min-height: 10vh;
		height: 1fr;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	#article__formulario-bajada h3 {
		/* border: 1px solid black; */
		color: var(--main);
		width: 100%;
		height: 100%;
		font-size: 1.3rem;
		font-family: Montserrat;
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__contenedor {
		border: 1px solid #ddd;
		border-left: 2px solid var(--main);
		box-shadow: 0px 2px #eee;
	
		margin: 0;
		min-width: minmax(20rem, 20rem);
		width: 60%;
		height: 75%;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: hidden;
	}
	
	.formulario__imagen {
		/* border: 1px solid black; */
		box-sizing: border-box;
		width: 40%;
		height: 100%;
		object-fit: contain;
	}
	
	.formulario__mensaje {
		/* border: 1px solid var(--main); */
		width: 60%;
		height: 100%;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__input {
		/* border: 1px solid black; */
		border-radius: 1px;
		background-color: #eee;
		min-width: 100px;
		width: 85%;
		height: 8%;
		margin: 3% 1rem;


		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__input input {
		/* border: 1px solid black; */
		border: none;
		border-radius: 4px;

		width: 95%;
		height: 95%;
		background: inherit;
		outline: none;
	
		font-size: 1rem;
	}
	
	.formulario__input input::placeholder {
		color: var(--main);
		letter-spacing: 2px;
	}

	.formulario__input textarea {
		border: none;
		width: 95%;
		height: 95%;
		background: inherit;
		outline: none;
	
		font-size: 1rem;
	}
	
	.formulario__input textarea::placeholder {
		color: var(--main);
	}
	
	.texto {
		min-height: 20vh;
	}
	
	.enviar {
		width: 30%;
		height: 7%;
			margin: 2% 1rem;
			background: inherit;
			outline: none;
			border: none;
			box-sizing: border-box;
			overflow: hidden;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--main);
			padding: 4px 2px;
			font-family: montserrat;
			font-size: .8rem;
	}
	
	.enviar:hover {
		transition: all 0.2s;
		background-color: var(--main);
		color: #fff;
	}
	
	/*ARTICLE REDES*/
	
	.article__redes {
	/*	border: 2px solid red;*/
	display: none;
		width: 100%;
	}
	
	.article__redes h3{
		font-family: ubuntu;
		display: none;
		color: var(--main);
		font-size: 2rem;
		margin-left: 2vw;
	}
	
	.redes__contenedor {
		border: 1px solid black;
	
		width: 100%;
		height: 70vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.redes__red {
		border: 1px solid black;
		box-sizing: border-box;
		border-radius: 3px;
		width: 25%;
		height: 60%;
	}
	
	.redes__transición {
		/* border: 1px solid black; */
		width: 100%;
		height: 7vh;
		background: linear-gradient(#fff, var(--third) 75%);
	}
	
	/*FOOTER*/
	
	.footer {
	
		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color: #8ae287;
		color: white;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	
	}
	
	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
	}
	
	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;
	
	}
	
	.footer__contenedor-info li a {
		text-decoration: none;
		color: #fff;
	}

	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}
	
	.footer__contenedor-info li:hover a {
		transition: all 600ms;
		color: #bbb;
	}

	.footer__info {
	
			border: 1px solid white;
			box-sizing: border-box;
	
	
	}
	
	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #ddd;
		width: 90%;
		font-family: montserrat;
	
		display: flex;
		justify-content: center;
	}
	
	
}

@media screen and (orientation: portrait ){
	
		
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header{
		border-bottom: 3px solid var(--main);
		background-color: inherit;
		overflow-y: hidden;

		width: 100%;
		min-height: 50px;
		height: 3.6rem;
		position: fixed;
		top: 0px;
		z-index: 200;
	
		display: flex;
		align-items: center;
	}
	
	.header h1 {
		/* border: 1px solid var(--main); */
		/* background-color: blue; */
		margin: auto;
		color: var(--main);
		font-family: opensans;
		font-size: 2rem;
	}
	
	.header img {
		/* border: 1px solid black; */
		position: fixed;
		top: 2vw;
		min-width: 65px;
		width: 18%;
		max-width: 65px;
		object-fit: cover;
	}

	.header__contenedor-boton {
		/* border: 1px solid var(--main); */
		background-color: #fff;
		overflow: hidden;
		display: flex;
		width: 10vw;
		min-height: 50px;
		height: 7.5vh;
	
		padding-right: 2vw;
		margin-right: 0vw;
		position: fixed;
		right: 2vw;
		top: 0vh;
		z-index: 215;
	}
	
	
	.header__boton {
		/* border: 2px solid var(--main); */
		color: var(--main);
		width: 100%;
		height: 100%;
		padding-top: 10px;
		font-size: 1.5rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}
	
	/* NAV */
	
	.nav {
		border: 1px solid var(--main);
		background: inherit;
		overflow-y: hidden;
		width: 100%;
		height: 1fr;

		margin-left: 0%;
		position: fixed;
		top: 3.6rem;
		z-index: 210;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav__options {
		/* border: 1px solid blue; */
		border: none;
		overflow: hidden;
		color: var(--main);
		box-sizing: border-box;
		width: 100%;
		height: 5vh;
		padding: 1vh 0;
		margin: 1vh 0;
		font-size: 1.2rem;
		font-family: opensans;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--main);
		color: var(--main);
	
	}
	
	.article__formulario  {
		/* border: 3px solid red; */
		width: 100%;
		height: 90vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		margin-top: 9vh;
	}

	#article__formulario-bajada {
		/* border: 1px solid black; */
		box-sizing: border-box;
		width: 80%;
		height: 10vh;
		margin: 0;
		margin-top: 1vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	#article__formulario-bajada h3 {
		/* border: 1px solid black; */
		color: var(--main);
		width: 100%;
		height: 100%;
		font-size: 1rem;
		font-family: Montserrat;
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__contenedor {
		border: 1px solid #ddd;
		border-left: 2px solid var(--main);
		box-shadow: 0px 2px #eee;
	
		margin: 0;
		min-width: minmax(20rem, 20rem);
		width: 85%;
		height: 80%;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: hidden;
	}
	
	.formulario__imagen {
		/* border: 2px solid black; */
		width: 100%;
		height: 40%;
		object-fit: contain;
	}
	
	.formulario__mensaje {
		/* border: 1px solid var(--main); */
		width: 100%;
		height: 60%;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__input{
		/* border: 1px solid black; */
		background-color: #eee;
		width: 85%;
		height: 8%;
		margin: 2% 1rem;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.formulario__input input {
		/* border: 1px solid black; */
		border: none;
		width: 95%;
		height: 95%;
		background: inherit;
		outline: none;
	
		font-size: .8rem;
	}
	
	.formulario__input input::placeholder {
		color: var(--main);
		letter-spacing: 2px;
	}

	.formulario__input textarea {
		border: none;
		width: 95%;
		height: 95%;
		background: inherit;
		outline: none;
	
		font-size: .8rem;
	}
	
	.formulario__input textarea::placeholder {
		color: var(--main);
	}
	
	.texto {
		min-height: 35%;
	}
	
	.enviar {
		width: 20%;
		height: 10%;
			margin: 1% 1rem;
			background: inherit;
			outline: none;
			border: none;
			border-radius: 4px;
			color: var(--main);
			padding: 3px 0px;
			font-family: montserrat;
			font-size: .8rem;
	}
	
	.enviar:hover {
		transition: all 0.2s;
		background-color: var(--main);
		color: #fff;
	}
	
	/*ARTICLE REDES*/
	
	.article__redes {
	/*	border: 2px solid red;*/
	display: none;
		width: 100%;
	}
	
	.article__redes h3{
		font-family: opensans;
		color: var(--main);
		font-size: 2rem;
		margin-left: 2vw;
	}
	
	.redes__contenedor {
		border: 1px solid black;
	
		width: 100%;
		height: 70vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.redes__red {
		border: 1px solid black;
		box-sizing: border-box;
		border-radius: 3px;
		width: 25%;
		height: 60%;
	}
	
	.redes__transición {
		/* border: 1px solid black; */
		width: 100%;
		height: 7vh;
		background: linear-gradient(#fff, var(--main) 75%);
	}
	
	/*FOOTER*/
	

	
	.footer {
	
		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color:#69cd68;
		color: white;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	
	}
	
	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
		font-size: 1.4rem;
	}
	
	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		font-size: 1rem;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;
	}

	.footer__contenedor-info li a {
		color: var(--letters);
		transition: 600ms;
	}

	.footer__contenedor-info li:hover a {
		color: #bbb;
	}
	
	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}
	
	.footer__info {
			border: 1px solid white;
			box-sizing: border-box;
	}
	
	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #eee;
		width: 90%;
		font-family: montserrat;
		font-size: .8rem;	
		display: flex;
		justify-content: center;
		text-align: center;
	}
	
	
}



a:visited {
	text-decoration: none;
}

a:link{
	text-decoration: none;
}


@keyframes juntar {

	0%{
		transform: translateX(0);
	}

	100% {
		transform: translateX(120%);
	}

}


@keyframes objetos {

	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-10%);
	}

}

@keyframes abrir {
	0%{
		display: flex;
		transform: translateX(150%);
		
	}
	100%{
		transform: translateX(0);
		/*z-index: 210;*/
	}

}

@keyframes cerrar {
	0%{
		transform: translateX(0);	
		
	}
	100%{
		transform: translateX(150%);
		display: none;


	}
}

@keyframes abrirMobile {
	0%{
		display: flex;
		margin-top: -74vw;
	}
	100%{
		margin-top: 0vw; 
	}
}

@keyframes cerrarMobile {
	0%{
		margin-top: 0vw;
	}
	100%{
		margin-top: -74vw;
		display: none;
	}
}

@keyframes navboton {
0%{
	transform: translateX(0);
}

100%{
	transform: translateX(-50%);
}
}



@font-face {
font-family: Nunito;
src: url('Nunito-VariableFont_wght.ttf');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: Ubuntu;
src: url('Ubuntu-Medium.ttf');
font-style: normal;
font-weight: normal;
}


@font-face {
	font-family: montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
		font-family: opensans;
		src: url('OpenSans_Condensed-Bold.ttf');
		font-style: normal;
		font-weight: normal;
		}
	